.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa; /* Consistent with LandingPage */
  }
  
  .profile-section {
    flex: 1; /* Increase the flex value to allocate more space to the profile section */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; /* Increase padding for larger overall size */
    border-bottom: 1px solid #e0e0e0; /* Light grey border for separation */
    min-height: 400px; /* Set a minimum height */
  }
  
  .profile-content {
    text-align: center;
    padding: 100px; /* Increase padding for a larger content area */
    background-color: #e0f7fa; /* Light pale blue background, consistent with LandingPage */
    border-radius: 8px;
    max-width: 1200px; /* Optional: Set a max-width to prevent it from becoming too wide on large screens */
  }
  .button-container {
    margin-top: 20px; /* Add margin to separate the button from the profile section */
  }
  
  .posts-section {
    flex: 2;
    position: relative;
    height: 200px; /* Increased height to accommodate Y-offsets */
    padding-top: 50px; /* Add padding to the top to prevent cutting off */
  }
  /* Define common styles for all vehicles */
  .vehicle {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: drive linear 1;
    width: 600px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
  }
  

  .sedan {
    background-image: url('pics/sedan.png');
  }
  
  .suv {
    background-image: url('pics/suv.png');
  }
  
  .bus {
    background-image: url('pics/bus.png');
  }
  /* Adjust the keyframes to simulate driving */
  /* Define lane heights */
  .lane-1 { top: 0; }
  .lane-2 { top: 25%; }
  .lane-3 { top: 50%; }
  .lane-4 { top: 75%; }

  /* Adjust the keyframes to simulate driving */
  @keyframes drive {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc(100vw + 100%));
    }
  }